/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
  width: 876px;
  margin: 90px auto 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}
p {
  line-height: 22px;
}

header,
section {
  padding: 35px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  padding-top: 40px;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

nav ul {
  width: 876px;
  margin: 0 auto;
  align-items: center;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: #aaa;
}

.nav-link:hover {
  animation: nav 300ms ease-in forwards;
}

@keyframes nav {
  0% {
    transform: scale(1) skew(0);
  }
  100% {
    transform: scale(1.2) skew(-12deg);
    color: goldenrod;
  }
}

.logo {
  background-image: url("/great-idea/img/logo.png");
  width: 183px;
  height: 36px;
}

header {
  border-bottom: solid thin #000000;
  padding-bottom: 70px;
}

.header-left {
  width: 420px;
  text-align: center;
  margin-left: 40px;
}

.header-left h1 {
  font-size: 82px;
  font-family: "Bangers", cursive;
}

button {
  border: solid thin #000000;
  padding: 5px 35px;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1px;
}

.header-left button:hover,
#contact-form button:hover {
  animation: skew 400ms ease-in forwards;
}

@keyframes skew {
  0% {
    transform: skew(0);
  }
  100% {
    background-color: goldenrod;
    transform: skew(-8deg);
    box-shadow: -2px 2px 8px grey;
  }
}

.header-img {
  background-image: url("/great-idea/img/header-img.png");
  width: 379px;
  height: 379px;
}

.middle-img {
  background-image: url("/great-idea/img/mid-page-accent.jpg");
  width: 876px;
  height: 182px;
}

.col-third {
  margin-right: 10px;
}

.contact {
  border-top: solid thin #000000;
}

.contact address {
  width: 150px;
  line-height: 18px;
}

.contact address a,
.contact-info a {
  text-decoration: none;
  color: inherit;
  display: flex;
  margin-top: 20px;
}

footer {
  height: 60px;
  text-align: center;
}

/* Services Page CSS */

.services {
  flex-wrap: wrap;
  border-top: solid thin black;
  padding-top: 40px;
}

.service-box {
  width: 418px;
  margin-bottom: 40px;
  padding: 20px;
  border: solid thin black;
  background-color: #f0efef;
}

.learn-more {
  margin-top: 15px;
  padding: 10px 40px;
  border-radius: 5px;
  border: solid thin black;
  font-size: 11.5px;
}

.facts-section {
  margin: -36px 0 65px;

  padding-top: 45px;
  border-top: solid 2px black;
  align-items: flex-start;
}

.facts-left {
  width: 418px;
}

.facts-list {
  list-style: initial;
  list-style-type: square;
  list-style-position: inside;
  margin-top: 30px;
}

.list-item {
  margin: 15px 0;
}

/* Product Page CSS */

.container {
  padding-top: 30px;
  align-items: flex-start;
}

.category {
  margin-top: 20px;
}

.category:first-child {
  margin-top: 0;
}

.category-title,
.category-item {
  margin-bottom: 6px;
}

.category-item,
.product-item p,
.product-item figcaption {
  color: grey;
}

main {
  width: 80%;
}

.product-list {
  flex-wrap: wrap;
}

.product-item {
  width: 220px;
  margin-bottom: 25px;
}

.product-item img {
  width: 100%;
}

.product-item figcaption {
  margin-top: 8px;
  font-size: 11px;
}

.product-title {
  font-family: inherit;
  margin: 10px 0;
  padding-left: 0;
  font-size: 17px;
}

.product-item p {
  font-size: 14px;
}

/* Contact Page CSS */
#contact {
  align-items: flex-start;
  padding-bottom: 120px;
}

.contact-info {
  width: 300px;
}

#contact-form {
  width: 60%;
}

.form-feild,
.form-feild input,
.form-feild textarea {
  margin: 10px 0;
  width: 100%;
}

.form-feild input,
.form-feild textarea {
  padding: 10px;
  border: solid thin black;
}

@media screen and (max-width: 900px) {
  /* General  */
  body {
    width: 100%;
    padding: 30px;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }

  .flex-container {
    flex-flow: column wrap;
  }

  nav {
    padding-bottom: 20px;
  }

  /* Index */

  .header-left {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .middle-img {
    width: 100%;
  }

  /* Product */
  .container {
    flex-direction: column-reverse;
  }

  .product-list {
    align-items: flex-start;
  }

  main,
  .product-item {
    width: 100%;
  }

  /* Contact */
  .contact-info {
    margin-bottom: 40px;
  }

  #contact-form {
    width: 100%;
  }
}
